.sidebar{
    background-color: $color-primary;
    grid-column: sidebar-start/sidebar-end;
    grid-row: 1/-1;
    
    display: flex;
    justify-content: center;

    @media only screen and (max-width:$bp-large){
      grid-area: 1/1/2/-1;
      justify-content: flex-end;
      align-items: center;
    }
}

%common{
    background-color: #fff;
    height: .2rem;
    width: 4.5rem;
}

.nav-btn{
    cursor: pointer;
    border: none;
    border-radius: 0;
    @extend %common;
    margin-top: 4rem;


    &::before,&::after{
        @extend %common;
        content: "";
        display: block;
    }
    &::before{
        transform: translateY(-1.5rem);
    }
    &::after{
        transform: translateY(1.3rem);
    }

    @media only screen and (max-width:$bp-large){
       margin-top: 0;
       margin-right: 3rem;
       &::before{
        transform: translateY(-1.2rem);
    }
    &::after{
        transform: translateY(1rem);
    }
      }

}